@charset "UTF-8";
#header {
    /* position: static;  */
}

#MainBan {
    height: 200px; width: 100%; line-height: 200px; top: 0px;
    background: #ffcfbc; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffcfbc 0%, #b2e4ff 49%, #92a8c9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ffcfbc 0%,#b2e4ff 49%,#92a8c9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ffcfbc 0%,#b2e4ff 49%,#92a8c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcfbc', endColorstr='#92a8c9',GradientType=1 ); /* IE6-9 */
    text-align: center; font-family: algerian;
    overflow: hidden;    
    position: fixed;
    z-index: 5;
}


/* 
nav {
    position: relative;
} */

nav ul { 
    background-color: #ffcfbc; overflow: hidden; 
    padding-top: 12px; 
    padding-bottom: 12px; 
    border-top-color: #b2e4ff;
    border-top-style: solid;
    width: 100%; overflow: hidden; 
    position: fixed; z-index: 5;
    top: 184px;
    min-width: 900px;
    /* position: absolute; */
}

nav ul li {
    border-color: white; border-style:solid;
    border-radius: 15px;
    padding: 4px 20px; 
    text-align: center;
    overflow: hidden;
}

nav ul li:hover {
    border-color: #92a8c9;
    color: #92a8c9;
}

.clicked {
    background-color: white;
    color: #92a8c9;
    border-radius: 15px;
}

nav ul a{
    margin: 0 20px;
    font-size: 1.8em;
    float: left;
    text-align: center;
    color: white;
    font-weight: 800;
    list-style: none;
    text-decoration: none;      
}

audio {
    position: relative;
    top: 300px;
}

.article {
    position: relative;
    /* position: absolute; */
    align-items: center;
    top:280px;
    margin: 10px 50px;
    padding-bottom: 120px;
    overflow: hidden;
    min-width: 750px;
}






.left5 {
    /* width: 50%;  */
    width: 300px;
    min-width: 300px;
    float: left; padding: 20px;
    padding-left: 150px;
    
}

.right5 {
    /* width: 50%;  */
    width: 300px;
    min-width: 300px;
    float: left;
    padding: 20px 20px 20px 100px;
}





/* footer */

footer{
    background: linear-gradient(to right,  #ffcfbc 0%,#b2e4ff 49%,#92a8c9 100%); 
    bottom: 0; padding: 10px;
    color: #555a61; text-align: center;
    position: fixed; width: 100%;
}