@charset "UTF-8";

.PrjContent {
    border-color: #92a8c9; border-style:solid;
    border-radius: 10px;
    padding: 4px 20px; 
    color: #92a8c9;
    
    overflow: hidden;
    margin: 5px;
}

.PrjDrop {
    border-color: #92a8c9; border-style:solid;
    border-radius: 10px;
    padding: 4px 20px; 
    color: black;
    overflow: hidden;
    margin: 5px;
}

input[id*="PrjDrop"] {
    display:none;
}

input[id*="PrjDrop"] + label {
    display:block;
    padding:3px;
    cursor: pointer;
}

input[id*="PrjDrop"] + label + div {
    max-height: 0;
    transition: all .8s;
    overflow:hidden;   
}

input[id*="PrjDrop"] + label + div p {
    display: inline-block;
}

input[id*="PrjDrop"]:checked + label + div {
    max-height:320px;
}

input[id*="PrjDrop"] + label i {
    border: solid gray;
    right:800px;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

input[id*="PrjDrop"]:checked + label i {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

input[id*="PrjDetail"] {
    display:none;
}

input[id*="PrjDetail"] + label {
    display:block;
    padding:10px;
    margin: 5px 0px;
    cursor: pointer;
    border-color: #ffcfbc;
    border-style: solid; border-radius: 20px;
}

input[id*="PrjDetail"] + label + div {
    max-height: 0;
    transition: all .8s;
    overflow:hidden;   
    
}

input[id*="PrjDetail"] + label + div p {
    display: inline-block;
    padding: 8px;
    border-color: #b2e4ff;
    border-style: solid; border-radius: 10px;

}

input[id*="PrjDetail"]:checked + label + div {
    max-height:300px;
}

input[id*="PrjDetail"] + label i {
    border: solid gray;
    right:800px;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

input[id*="PrjDetail"]:checked + label i {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}



#detailModal {
    background-color: #fff6f2;
    border-color: #ffcfbc;
    border-radius: 10px;
    border-style:solid;
    margin: 0px 10px 15px;
    padding: 5px 5px;
    text-align: center;
    cursor:pointer;
}

#closeBtn {
    position: absolute;
    font-weight: bold;
    font-size: large;
    color: black;
    background-color: red;
    padding: 0 5px;
    top: 10px;
    right: 10px;
} 


.modal {
    position: fixed;
    top: 110px;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
  }

  .modal .background {
    width: 99%;
    height: 100%;
    margin-left: 4px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .modalBox {
    position: absolute;
    background-color: #fff;
    padding: 15px;
    width: 600px;
    height: 400px;
  }
