@charset "UTF-8";

.PrjContent {
    border-color: #92a8c9; border-style:solid;
    border-radius: 10px;
    padding: 4px 20px; 
    color: #92a8c9;
    
    overflow: hidden;
    margin: 5px;
}

.PrjDrop {
    border-color: #92a8c9; border-style:solid;
    border-radius: 10px;
    padding: 4px 20px; 
    color: black;
    overflow: hidden;
    margin: 5px;
}

input[id*="PrjDrop"] {
    display:none;
}

input[id*="PrjDrop"] + label {
    display:block;
    padding:3px;
    cursor: pointer;
}

input[id*="PrjDrop"] + label + div {
    max-height: 0;
    transition: all .8s;
    overflow:hidden;   
}

input[id*="PrjDrop"] + label + div p {
    display: inline-block;
}

input[id*="PrjDrop"]:checked + label + div {
    max-height:300px;
}

input[id*="PrjDrop"] + label i {
    border: solid gray;
    right:800px;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

input[id*="PrjDrop"]:checked + label i {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

input[id*="PrjDetail"] {
    display:none;
}

input[id*="PrjDetail"] + label {
    display:block;
    padding:10px;
    margin: 5px 0px;
    cursor: pointer;
    border-color: #ffcfbc;
    border-style: solid; border-radius: 20px;
}

input[id*="PrjDetail"] + label + div {
    max-height: 0;
    transition: all .8s;
    overflow:hidden;   
    
}

input[id*="PrjDetail"] + label + div p {
    display: inline-block;
    padding: 8px;
    border-color: #b2e4ff;
    border-style: solid; border-radius: 10px;

}

input[id*="PrjDetail"]:checked + label + div {
    max-height:300px;
}

input[id*="PrjDetail"] + label i {
    border: solid gray;
    right:800px;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

input[id*="PrjDetail"]:checked + label i {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}